.blog_header {
  font-family: "Poppins", sans-serif;
  height: 75px;
  display: flex;
  color: white;
  align-items: center;
  background-color: rgb(1, 13, 128);
}

.header_logo {
  display: none;
}

.blog_header > div {
  display: inline-block;
  zoom: 1;
  width: 50%;
  text-align: center;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header_nav_buttons {
  width: 90px;
  padding: 5px 10px 5px 10px;
  margin: 0px 10px 0px 10px;
  border-radius: 20px;
  transition: 0.3s;
}

.header_nav_buttons:hover {
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  color: rgb(1, 13, 128);
}

.hamburger {
  display: none;
}

.lines {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .header_nav {
    display: none;
    position: absolute;
    right: 0;
    top: 75px;
    width: 50vw;
    height: 100vh;
    justify-content: end;
    align-items: center;
    background-color: rgb(1, 13, 128);
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    transition: 0.3s;
  }
  .header_nav_buttons {
    margin-top: 15px;
  }
}
